*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arvo, Geneva, Tahoma, sans-serif, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: rgb(3,5,4);
    line-height: 1.3;
}
.wrapper{
    max-width: 1160px;
    margin: 0 auto;
    background-color:rgb(200, 230, 235);
}
header{
    background-color: rgb(242, 242, 242);
    padding: 10px 15px;
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
.header-branding, .menu-wrap{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: Lato, Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 18px;
}
.logo img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
ul{
    list-style-type: none;
}
.header-title{
    padding-left: 20px;
}
.nav-menu ul{
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 10px;
    display: none;
}
.nav-menu li{
    padding: 10px;
}
.nav-menu a{
    text-decoration: none;
}
.nav-menu a:hover{
    text-decoration: underline;
}
.menu-btn{
    font-size: 1.1rem;
    display: block;
    position: relative;
    right: 15px;
}
.menu-btn:hover{
    cursor: pointer;
}
.menu-btn.visible ~ nav ul{
    display: block;
    background-color:rgb(238, 238, 238);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 15px 0;
}
a.active{
    background-color: #fffefe;
    padding: 5px;
    border-radius: 3px;
}
.main-content .cta{
   max-width: 130px;
   margin-bottom: 30px;
}
.main-content img{
   margin-top: 10px;
}
#index{
    scroll-margin-top: 8em;
}
#portfolio{
    scroll-margin-top: 6.5rem;
}
#about, #contact{
    scroll-margin-top: 7rem;
}
.main-content,.projects, .about-content, .contact-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 80vh;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
.js-scroll{
    transition: opacity 500ms;
}
.scrolled.slide-right {
    animation: slide-in-right 1.2s ease-in-out both;
}
@keyframes slide-in-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
.site-btn{
    padding: 5px 12px;
    background-color: blue;
    float: right;
    margin: -27px 10px 0 0 ;
    border-radius: 3px;
}
.site-btn{
    color: #fffefe !important;
}
.site-btn:hover{
    color: blue !important;
    background-color: #fffefe !important;
    text-decoration: none !important;
}
.about-content{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.about-tech{
    margin-bottom: 30px;
    line-height: 1.5;
}
.about-tech i{
    margin-right: 3px;
}
.about-icon{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.about-icon img{
    margin: 10px 0;
    max-width: 100px;
    max-height: 100px;
}
.about-icon p{
    margin-top: 10px;
    max-width: 45%;
    text-align: center;
}
.contact-name, .contact-details h3, .contact-form h3{
    margin-bottom: 10px;
}
.contact-details i, .about-tech i{
    color: blue;
    font-size: 1.5rem;
}
.contact-form form{
   display: flex;
   flex-direction: column;
   width: 250px;
}
.contact-details i{
 position: relative;
 left: 0;
 top: 25px;
}
.contact-name, .contact-email{
    margin-left: 32px;
}
.contact-form h3{
    margin-top: 20px;
}
.contact-form input, textarea{
    padding: 3px;
}
.contact-form{
    line-height: 1.5;
}
.contact-details, .contact-form{
    margin: 20px 0 10px 0;
}
.contact-form input[type="submit"]{
    margin-top: 10px;
    background-color: blue;
    color: #fffefe;
    border: none;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer; 
}
.contact-form input[type="submit"]:hover{
    background-color: #fffefe;
    color: blue;
}
.form-error{
    color: tomato;
    display: none;
    margin-top: 3px;
}

.project-heading, .about-heading, .contact-heading{
    margin-top: 10px;
    text-align: center;
    flex: 0 0 100%;
}
.project-item{
    flex:1;
    margin: 10px 0;
    padding: 10px 0;
    max-width: 90%;
}
.project-item h3{
    color: blue;
}
.project-item img{
    max-width: 90%;
}
.project-item a{
    text-decoration: none;
    color: blue;
}
.project-item a:hover{
    text-decoration: underline;
}
.technologies{
    font-size: smaller;
    font-style: oblique;
    color: blue;
}
.span{
    color: blue;
}
.cta{
    background-color: blue;
    max-width: 130px;
    text-align: center;
    padding: 8px;
    border-radius: 3px;
    border: none;
    position: relative;
    top: 10px;
}
.learn-more{
    color: #fffefe;
    text-decoration: none;
}
.cta:hover, .cta a:hover{
    color: blue;
    background-color: #fffefe;
    cursor: pointer;
}
.name{
    color: blue;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color:rgb(179, 220, 203);
    align-items: center;
    min-height: 10vh;
    position: sticky;
    bottom: 0;
}
.footer-social i{
    margin-right: 10px;
    padding: 5px;
}
.footer-social i:hover{
    cursor: pointer;
    background-color: #fffefe;
    border-radius: 5px;
}
@media screen and (min-width: 600px){
    body{
        font-size: 1rem;
    }
    .menu-btn{
        display: none;
    }
    .nav-menu ul{
        display: inline-flex;
        position: relative;
        top: -1px;
    }
    .logo img{
        width: 45px;
        height: 45px;
    }
    .main-content{
        margin-top: 5%;
    }
    .main-content p{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .learn-more{
        display: flex;
    }
    .main-content img{
        position: relative;
        padding-left: 10px;
        top: 50%;
        left: 60%;
        transform: translateY(-50%);
    }
    .projects{
        flex-direction: row;
    }
    .project-item{
        margin: 10px 10px 10px 0;
    }
    .site-btn{
        float: left;
        margin-top: 10px;
        border-radius: 3px;
    }
    .about-content{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .about-icon{
        margin-top: 20px;
    }
    .about-icon img{
        max-width: 120px;
        max-height: 120px;
    }
    .about-icon p{
        max-width: 60%;
    }
    .about-tech{
        margin-top: 40px;
    }
    .about-tech i{
        padding: 5px 0;
        margin-right:3px;
    }
    .about-text{
        max-width: 90%;
    }
    .contact-content{
        flex-direction: row;
        max-width: 90%;
        justify-content: space-around;
        margin-top: 30px;
    }
    .contact-details{
        margin: 0;
        padding: 0;
    }
    .contact-form{
        margin-top: 0;
    }
    .contact-form form{
        max-width: 90%;
    }
    .contact-tech{
        flex: 0 0 100%;
        text-align: center;
        margin: 40px 0;
    }
}
@media screen and (min-width: 900px) {
    body{
        font-size: 1.1rem;
    }
    .main-content{
        font-size: 1.2rem;
    }
    .site-btn{
        padding: 5px 12px;
        background-color: blue;
        float: right;
        margin: -27px 10px 0 0 ;
        border-radius: 3px;
    }
    .about-icon img{
        max-width: 150px;
        max-height: 150px;
    }
}
@media screen and(min-width: 1020px){
    .about-icon img{
        margin-top: 0;
    }
   
}
